<!DOCTYPE html>
<html lang="en">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="-1" />

 
<!-- HEAD -->
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Hey, who wants to go to Mars?</title>
  </head>

<!-- NAV BAR -->

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      
        <h1 class="logo">Mission to Mars</h1>
        <div class = "test">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a>
      </div>
    </nav>
  </header>


<!-- BODY -->

<body>
  <div class = "cont-adjust">
    <div class="container">
      
      <!-- NEWS-->
      <div class= "row">      
        <div class= "col-md-12">
          <h2>Latest Mars News</h2>
          <h4>Mars News: {{mars.news_title}}</h4>
          <p>{{mars.news_paragraph}}</p>  
        </div>   
      </div>

      <br>
      

      <!-- CURRENT IMAGE AND FACTS-->
      <div class = "container">
        <div class="row">
          <div class= "col-md-6 left-side">  <!-- CURRENT IMG -->
            <h2>Featured Mars Image</h2>
            <img src="{{mars.featured_image}}" alt="" class="current-img"> 
          </div>    

          <div class = "col-md-1">
          </div>

          <div class= "col-md-4">  <!-- MARS FACTS TABLE IS AN OBJECT SO CONTENTS CANNOT BE CENTERED-->
            <div class="row" id="mars_table">
              <h2>Mars Facts</h2>
              {{ mars.mars_facts | safe}}
            </div>
          </div>  
        </div>
      </div>

      <br>
      <br>
      
      <!-- HEMIS -->
      <h2 class="custom">Mars Hemispheres</h2>
      <div class = "container">
        <div class="row">
          
            
              {% for hemisphere in mars.mars_hemi_image_urls %}
              <div class="col-md-3">
                <div class="thumbnail">
                  <img src="{{ hemisphere.img_url }}" class="bottom-img"> 
                    <div class="caption">
                      <h4 class="bottom-title">{{hemisphere.title}}</h4> 
                    </div>
                </div>
              </div>
              {% endfor %}

            
          
        </div>
      </div>

    </div>
  </div>
</body>

</html>
